<!DOCTYPE html>
<html lang="fr">
<head>
    <title><%= titre %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= titre %></h1>
<h3>Bonjour <%= nom %>,</h3>
<p>Nous avons bien reçu votre message :</p>
<p class="reponse"><%= msg %> </p>
<br>
<p><a href="/" style="float: left">Retour vers l'accueil</a></p>
<p><a href="/contact" style="float: right">Envoyez un autre message</a></p>
</body>
</html>
